@page
@model NewAssignment2019.Areas.Admin.Pages.ProjectFeatures.IndexModel

@{
    ViewData["Title"] = "Project Feature List";
}

<div style="display:inline-flex">
    <h1>@ViewData["Title"]</h1>
    &nbsp;
    <div style="text-align:center"><a asp-page="Create"><i class="fa fa-plus-square"></i></a></div>
</div>

<ejs-grid id="Grid" dataSource=@Model.ProjectFeature>
    <e-grid-columns>
        <e-grid-column field="Code" headerText="Code"></e-grid-column>
        <e-grid-column field="Name" headerText="Name"></e-grid-column>
        <e-grid-column field="Description" headerText="Description"></e-grid-column>
        <e-grid-column field="ParentCode" headerText="ParentCode"></e-grid-column>
        <e-grid-column template="#template" style="display:inline-flex"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<script id="template" type="text/x-template">
    <a href="@Url.Page("./Edit")?id=${Id}">U </a> |
    <a href="@Url.Page("./Details")?id=${Id}">R </a> |
    <a href="@Url.Page("./Delete")?id=${Id}">D </a>
</script>

