@model List<NewAssignment2019.Services.Menu.MenuItem>
@*@model List<NewAssignment2019.Pages.Shared.Components.Menu.MenuViewComponent.MenuItem>*@

<div class="container" style="font-weight:600">
    <ejs-Menu id="menuMain" items="@Model">
    </ejs-Menu>
</div>
